.row.jumbo
	.container
		.col-sm-1
		.col-sm-10
			%h1.special
				MEET LOAF
			%p
				(nope... that sounds like meatloaf...)
			%h1
				INTRODUCING  
				%span.out
					LOAF
			%p
				&hellip;the best thing for your team since&hellip; well&hellip; since sliced bread! (much better!)
		.col-sm-1
.row.callout
	.container
		.col-sm-12
			%p
				The fun, simple, and powerful messaging tool for your team that, like a great sandwich, you won't be able to put down!
.row.features
	.container
		.col-sm-12
			%p.exclaim
				FINALLY!
				%span.comment
					a chat service whipped up specifically for your football team
		.col-sm-12
			%p.item
				MESSAGE EVERYONE AT ONCE
		.col-sm-12
			%p.description
				To make a delicious LOAF, you gotta have all the right ingredients.  Mixing in your coaches and players is a great start.  If you really want to bake up something amazing, throw your trainers, team managers, and even parents into the mix and watch things rise up.  You're in total control: fix your LOAF as complex as a club sandwich or as simple as the all-time great peanut butter sandwich... it's up to you!
		.col-sm-12
			%p.item
				ALWAYS ON
		.col-sm-12
			%p.description
				LOAF around anywhere, anytime with the very sexy mobile apps (or if you have a "dumb" phone, you can LOAF around from our website).  No matter if you log in from your computer during the day, your smartphone after practice, or your tablet when you're watching Scott Van Pelt's SportsCenter show at midnight, all your conversations will be right at your fingertips across all those devices automatically.
		.col-sm-12
			%p.item
				THE SAME PAGE
		.col-sm-12
			%p.description
				LOAF's real-time group messaging is way better than email and text for your team.  Now, instead of wading thru ugly email chains or horrendous group texts, all your team's conversations are neatly organized, synchronized, and always available to re-read inside the LOAF app on your smartphone, tablet, or computer.  No matter how long someone has been under a rock, they can easily catch up on what's been happening in their channels.
.row.showcase
	.container
		.col-sm-5.comment
			%p
				The World's
				%span.emphasis
					Sexiest
				Mobile App
.row.features
	.container
		.col-sm-12
			%p.exclaim
				YOU CAN...
				%span.comment
					message the right people and not message the wrong people
		.col-sm-12
			%p.item
				LET IT ALL HANG OUT
		.col-sm-12
			%p.description
				%span.quickhit
					LET IT ALL HANG OUT //// in channels
				After midnight (or before) everybody can find out what it is all about with LOAF channels.  Channels let you send a message to a whole group of people at the same time.  If you want to message all the players on your team, just drop a note in the #players channel... how about coaches only... there's a #coaches channel for that.  We set you up with some channels that we think are helpful but you can slice and dice your team's LOAF however you want.
		.col-sm-12
			%p.item
				KEEP IT ON THE "DL"
		.col-sm-12
			%p.description
				%span.quickhit
					KEEP IT ON THE DOWNLOW //// with direct messages and private channels
				If you need to chat with one person on your team directly (your star player Robert Kelly for example) and nobody has to know about your conversation, then keep it on the "DL" (downlow) with DMs (Direct Messages).  If you need to chat confidentially with a select group of people you can create private channels.  Private channels are less like a Dance Club and more like a Country Club (or Fight Club): more exclusive and you shouldn't talk about 'em.
.row.calltoaction
	.container
		.col-sm-12
			%h2 I KNEAD THIS!
		.col-sm-1
		.col-sm-10
			%p
				We are currently accepting requests to join our pre-release beta tester group.  There are only a handful of spots left so if you want in, sign up and tell us why you deserve to make our beta team.
		.col-sm-1
		.col-sm-12
			%a.btn{"title" => "SIGN UP NOW", "data-toggle" => "modal", "data-target" => "#myModal"} SIGN UP NOW

.modal.fade#myModal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ "data-dismiss" => "modal", "aria-label" => "Close"}
					%span{"aria-hidden" => "true"}
						&times;
				%h4.modal-title
					SIGN UP NOW
			.modal-body
				= form_for :list, :html => {:class => "form-horizontal"}  do |f|
					.form-group
						= f.label :input_field, :class => "col-sm-4 control-label"
						.col-sm-8
							= f.text_field :input, :class => "form-control"
					.form-group
						= f.label :another_input, :class => "col-sm-4 control-label"
						.col-sm-8
							= f.text_field :another_input, :class => "form-control", :placeholder => "blah"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal"}
					Close
				%button.btn.btn-primary
					Save Changes