<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag '/faviconsm.png' %>
  <title>LOAF.chat</title>
  <script src="https://use.typekit.net/aur3pnj.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- Firebase JS -->
<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
<!-- Firechat -->
<link rel='stylesheet' href='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.css' />
<script src='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.js'></script>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

	<%= yield %>

</body>
</html>
